<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Projects Dashboard App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body ng-app="projectsApp" ng-controller="ProjectController as pl">
  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <h1>App Toolbar</h1>
    </md-toolbar>

    <graph-directive flex class="md-whiteframe-z1" layout="column"></graph-directive>

    <md-content flex id="content" layout="column" layout-align="center center">
      <md-list-item ng-repeat="project in pl.projects">
        <div ng-controller="ToggleController">
          <md-whiteframe flex class="md-whiteframe-z1" layout="column" layout-align="center center" ng-click="toggle()">
            <div flex layout="" layout-align="center center">
              <md-input-container>
                <label>Name</label>
                <input readonly ng-model="project.NAME" />
              </md-input-container>
              <md-input-container>
                <label>Code</label>
                <input readonly ng-model="project.CODE" />
              </md-input-container>
              <md-input-container>
                <label>Description</label>
                <input type="text" ng-model="project.DESC" />
              </md-input-container>
              <md-input-container>
                <label>Date</label>
                <input type="date" ng-model="project.CD" />
              </md-input-container>
            </div>
            
            <md-card class="md-whiteframe-z1" flex layout="column" layout-align="center center" class="content" ng-show="visible">
              <p>Graph placeholder</p>
              <svg height="100" width="100">
                <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
              </svg>
            </md-card>
          </md-whiteframe>
        </div>
    </md-list-item>
    </md-content>
  </div>

    <script src="./bower_components/d3/d3.min.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script> 

    <script src="./src/projects/Projects.js"></script>
    <script src="./src/projects/ProjectController.js"></script>
    <script src="./src/projects/ProjectService.js"></script>
    <script src="./src/projects/ToggleController.js"></script>
    <script src="./src/projects/GraphDirective.js"></script>
    
    <script type="text/javascript">

          angular
              .module('projectsApp', ['ngMaterial', 'projects'])
              .config(function($mdThemingProvider){
                      $mdThemingProvider.theme('default')
                          .primaryPalette('brown')
                          .accentPalette('red');

              });

    </script>

  </body>
</html>
